.headerContainer{
    display: flex;
    justify-content: center;
    height: 90px;
    /* background-color: rgb(255, 255, 255); */
    /* background-color: rgb(255, 239, 176); */
    background-color: rgb(254 253 239);

    box-shadow:1px -2px 14px 0px black
}
.headerInnerWidth{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.workshopHeader{
display: flex;
justify-content: space-between;
align-items: center;
width: 140px;

}
.headerLogo{
    height: 53px;
    object-fit: contain;
    cursor: pointer;
}
.iconHeart{
    height: 23px;
    object-fit: contain;
}
.titleHeader{
    font-weight: bold;
    font-size: 25px;
    /* color: rgb(42, 12, 12); */
   color:  #41464b;
   font-family: 'Signika', sans-serif;
    cursor: pointer;

}